{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block content %}
<h2>{{ object.title }}</h2>
<h4>{% if object.featured %}(This is a featured article){% endif %}</h4>
{% if user.is_authenticated %}
<div style="text-align: right;">
<a href="articles:update-view"><h6 style="display: inline; text-align: right; " class="btn btn-primary">Update</h6></a>
<a href="articles:delete-view"><h6 style="display: inline; text-align: right; " class="btn btn-warning">Delete</h6></a>
</div>
{% endif %}
<p>{{ object.description|safe }}</p>
{% endblock %}